:root {
    --box-size:  400px;
}

* {
    font-family: 'Lato', sans-serif;
}

.title {
    text-align: center;
}

.prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: cadetblue;
    padding: 10px;
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gameBoard {
    width: var(--box-size);
    height: var(--box-size);

    background-color: blue;
    border: 10px solid blue;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.gameBoard div {
    background-color: white;
    height: 1fr;
    line-height: 126.667px;
    text-align: center;
    font-size: 100px;
}

/* Winner prompt */
.roundEnd {
    width: 300px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundEnd button {
    height: 30px;
    width: 80px;
}

.playerNames {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerNames button {
    margin: 10px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 421px) {
    :root {
        --box-size: 300px;
    }

    .gameBoard div {
        line-height: 93px;
        font-size: 80px;
    }
}