:root {
    --box-size:  400px;
     
    --main-color: #fcecdd;
    --comp-color: #ffc288;
    --acc1-color: #fea82f;
    --acc2-color: #ff6701;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background: #FFDDC2;
}

h1 {
    font-size: 40px;
    width: 6em;
    margin: auto;

    background: linear-gradient(to right, var(--acc1-color), var(--acc2-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

button {
    background-color: var(--comp-color);
    border: 3px solid var(--acc1-color);
    border-radius: 8px;
    scale: 150%;
    color: var(--acc2-color);
}

.shadow {
    box-shadow: 5px 5px 6px grey, -5px -5px 6px grey, -5px 5px 6px grey, 5px -5px 6px grey;
}

.center {
    text-align: center;
}

.prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    padding: 10px;
    background-color: var(--main-color);
    border: 8px solid var(--comp-color);
    border-radius: 20px;
}

.markX {
    color: var(--acc1-color);
} 

.markO {
    color: var(--acc2-color);
}

/* Game styling */
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
}

.game h2 {
    margin-bottom: 21px;
    color: var(--acc1-color);
}

.gameBoard {
    width: var(--box-size);
    height: var(--box-size);

    background-color: var(--comp-color);
    border: 10px solid var(--comp-color);
    border-radius: 6px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.gameBoard div {
    background-color: var(--main-color);
    height: 1fr;
    line-height: 126.667px;
    text-align: center;
    font-size: 100px;
}

/* Winner prompt */
.roundEnd {
    color: var(--acc2-color);
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundEnd button {
    height: 30px;
    width: 80px;
}

/* Player names input prompt */
.playerNames {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerNames h3 {
    color: var(--acc1-color);
    margin: 10px;
}

.playerNames input {
    scale: 120%;
    border: 2px solid var(--acc1-color);
    border-radius: 3px;
}

.playerNames button {
    margin: 20px 0px 10px 0px;
}

.hidden {
    display: none;
}

/* Animations */
.popup-open {
    animation: popup 1s ease-out;
}
.popup-close {
    animation: popup 0.7s ease-out reverse;
}

.markXAnimation {
    animation: markXAnimation 0.3s linear;
}

.markOAnimation {
    animation: markOAnimation 0.3s linear;
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes markXAnimation {
    0% {
        color: var(--main-color);
    }
    100% {
        color: var(--acc1-color);
    }
}

@keyframes markOAnimation {
    0% {
        color: var(--main-color);
    }
    100% {
        color: var(--acc2-color);
    }
}

/* Responsive design */
@media screen and (max-width: 421px) {
    :root {
        --box-size: 300px;
    }

    .gameBoard div {
        line-height: 93px;
        font-size: 80px;
    }

    .prompt {
        width: 250px;
    }

    .roundEnd {
        font-size: 13px;
    }
}